body {
    margin: 60px auto;
    width: 70%;
    background-color:#FCF7E5;
}

.container {
    padding-top: 100px;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-left: 200px;
    list-style: none;
    font-weight: bold;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 9999; 
    background-image:url("../assets/hurricane_eye.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

    

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Garamond';
    color:#212121;
}

h2 {
    font-size: 2em;
    font-family:'Garamond';
    color:#212121;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color:#212121;
}

footer {
    border-top: 1px solid #212121;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.wrap {
    float: right;
    padding-left: 40px;
    height: auto;
}

ul.news {
    font-size: 1.2em;
    color:#212121;
    line-height:1.5em;
}

.leftbar{
   background-color:#2F4F4F;
   width:15%;
   max-width:150px;
   height:100%;
   position:fixed;
   top:0;
   left:0;
   padding-top: 0px;
} 

.rightbar{
   background-color:#2F4F4F;
   width:15%;
   max-width:150px;
   height:100%;
   position:fixed;
   top:0;
   padding-top: 0px;
   right:0;
}
