body {
    margin: 0px;
    background-color:#FCF7E5;
}

.container {
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-left: 10%;
    font-weight: bold;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    background-color: #2F4F4F;
    font-weight: bold;
    position: fixed;
    top:0;
    width:100%;
    height:6%;
    z-index:999;
    margin: 0px 0px 0px 0px;
    padding-right:20px;
}


nav a {
     color:#FCF7E5;
     text-align: center;
}

nav ul li {
    display: inline-block;
    float: right;
    padding-right: 60px;
    padding-top: 10px;
    
}


footer ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3.2em;
    font-family: 'Brush Script MT', cursive;
    color:#2F4F4F;
    font-weight: normal;
}

h2 {
    font-size: 2em;
    color:#2F4F4F;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight:bold;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color:#212121;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

footer {
    border-top: 1px solid #212121;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.wrap {
    float: right;
    padding-left: 40px;
    height: auto;
}

ul.news {
    font-size: 1.2em;
    color:#212121;
    line-height:1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.name {
    position: fixed;
    top: 7px;
    left: 20px;
    z-index:9999;
    font-size:2em;
    font-family: 'Brush Script MT', cursive;
    font-weight: normal;
}

.name a {
    color:#FCF7E5;
}

.name a:hover {
    text-decoration: underline;
}

.headtext {
    position: absolute;
    width=100%;
    top: 75px;
}
