<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/research">My Research</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alyssa.stansfield@colostate.edu">Email Me</a></li>
	        		<li><a href="https://github.com/alyssa-stansfield">github.com/alyssa-stansfield</a></li>
				<li><a href="https://scholar.google.com/citations?user=CrChqVAAAAAJ&hl=en">Google Scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
